<?xml version="1.0"?>
<config>
    <modules>
        <Aligent_AddToCart>
            <version>0.1.0</version>
        </Aligent_AddToCart>
    </modules>
    <global>
        <models>
            <aligent_addtocart>
                <class>Aligent_AddToCart_Model</class>
                <!--<resourceModel>aligent_addtocart_resource</resourceModel>-->
            </aligent_addtocart>
            <!--<aligent_addtocart_resource>-->
                <!--<class>Aligent_AddToCart_Model_Resource</class>-->
            <!--</aligent_addtocart_resource>-->
        </models>
        <!--<blocks>-->
            <!--<aligent_addtocart>-->
                <!--<class>Aligent_AddToCart_Block</class>-->
            <!--</aligent_addtocart>-->
        <!--</blocks>-->
        <helpers>
            <aligent_addtocart>
                <class>Aligent_AddToCart_Helper</class>
            </aligent_addtocart>
        </helpers>

        <events>
            <checkout_cart_add_product_complete>
                <observers>
                    <aligent_addtocart>
                        <type>singleton</type>
                        <class>aligent_addtocart/observer</class>
                        <method>onAddToCart</method>
                    </aligent_addtocart>
                </observers>
            </checkout_cart_add_product_complete>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <aligent_addtocart>
                    <file>aligent/addtocart.xml</file>
                </aligent_addtocart>
            </updates>
        </layout>
    </frontend>
</config>